In [1]:
import pandas as pd

# Load the CSV file
file_path = '../data/Meteorite_Landings_20240924.csv'
# read only the first 25 rows
df = pd.read_csv(file_path, nrows=25)

df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"(-33.16667, -64.95)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919,32.10000,71.80000,"(32.1, 71.8)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949,44.83333,95.16667,"(44.83333, 95.16667)"
7,Agen,392,Valid,H5,30000.0,Fell,1814,44.21667,0.61667,"(44.21667, 0.61667)"
8,Aguada,398,Valid,L6,1620.0,Fell,1930,-31.60000,-65.23333,"(-31.6, -65.23333)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920,-30.86667,-64.55000,"(-30.86667, -64.55)"
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,1974,16.39806,-9.57028,"(16.39806, -9.57028)"
11,Aïr,424,Valid,L6,24000.0,Fell,1925,19.08333,8.38333,"(19.08333, 8.38333)"
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769,50.66667,2.33333,"(50.66667, 2.33333)"
13,Akaba,426,Valid,L6,779.0,Fell,1949,29.51667,35.05000,"(29.51667, 35.05)"
14,Akbarpur,427,Valid,H4,1800.0,Fell,1838,29.71667,77.95000,"(29.71667, 77.95)"
15,Akwanga,432,Valid,H,3000.0,Fell,1959,8.91667,8.43333,"(8.91667, 8.43333)"
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1981,39.91667,42.81667,"(39.91667, 42.81667)"
17,Al Rais,446,Valid,CR2-an,160.0,Fell,1957,24.41667,39.51667,"(24.41667, 39.51667)"
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,2001,13.66033,28.96000,"(13.66033, 28.96)"
19,Alais,448,Valid,CI1,6000.0,Fell,1806,44.11667,4.08333,"(44.11667, 4.08333)"
20,Albareto,453,Valid,L/LL4,2000.0,Fell,1766,44.65000,11.01667,"(44.65, 11.01667)"
21,Alberta,454,Valid,L,625.0,Fell,1949,2.00000,22.66667,"(2.0, 22.66667)"
22,Alby sur Chéran,458,Valid,Eucrite-mmict,252.0,Fell,2002,45.82133,6.01533,"(45.82133, 6.01533)"
23,Aldsworth,461,Valid,LL5,700.0,Fell,1835,51.78333,-1.78333,"(51.78333, -1.78333)"
24,Aleppo,462,Valid,L6,3200.0,Fell,1873,36.23333,37.13333,"(36.23333, 37.13333)"

In [8]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="http")

# for each line of the dataframe, get the country code
def get_country_code(row):
    location = geolocator.reverse(f"{row['reclat']}, {row['reclong']}") # take the latitude and longitude and get the location
    try:
        tmp = location.raw.get('address').get('country_code') # get the country code from the location
    except:
        tmp = None
    
    print(tmp)
    return tmp
    

df['country_code'] = df.apply(get_country_code, axis=1) # apply the function to the dataframe
df

de
dk
ca
mx
ar
pk
mn
fr
ar
ar
mr
ne
fr
jo
in
ng
tr
sa
sd
fr
it
cd
fr
gb
sy

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,country_code
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"(50.775, 6.08333)",de
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"(56.18333, 10.23333)",dk
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"(54.21667, -113.0)",ca
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"(16.88333, -99.9)",mx
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"(-33.16667, -64.95)",ar
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919,32.10000,71.80000,"(32.1, 71.8)",pk
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949,44.83333,95.16667,"(44.83333, 95.16667)",mn
7,Agen,392,Valid,H5,30000.0,Fell,1814,44.21667,0.61667,"(44.21667, 0.61667)",fr
8,Aguada,398,Valid,L6,1620.0,Fell,1930,-31.60000,-65.23333,"(-31.6, -65.23333)",ar
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920,-30.86667,-64.55000,"(-30.86667, -64.55)",ar
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,1974,16.39806,-9.57028,"(16.39806, -9.57028)",mr
11,Aïr,424,Valid,L6,24000.0,Fell,1925,19.08333,8.38333,"(19.08333, 8.38333)",ne
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769,50.66667,2.33333,"(50.66667, 2.33333)",fr
13,Akaba,426,Valid,L6,779.0,Fell,1949,29.51667,35.05000,"(29.51667, 35.05)",jo
14,Akbarpur,427,Valid,H4,1800.0,Fell,1838,29.71667,77.95000,"(29.71667, 77.95)",in
15,Akwanga,432,Valid,H,3000.0,Fell,1959,8.91667,8.43333,"(8.91667, 8.43333)",ng
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1981,39.91667,42.81667,"(39.91667, 42.81667)",tr
17,Al Rais,446,Valid,CR2-an,160.0,Fell,1957,24.41667,39.51667,"(24.41667, 39.51667)",sa
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,2001,13.66033,28.96000,"(13.66033, 28.96)",sd
19,Alais,448,Valid,CI1,6000.0,Fell,1806,44.11667,4.08333,"(44.11667, 4.08333)",fr
20,Albareto,453,Valid,L/LL4,2000.0,Fell,1766,44.65000,11.01667,"(44.65, 11.01667)",it
21,Alberta,454,Valid,L,625.0,Fell,1949,2.00000,22.66667,"(2.0, 22.66667)",cd
22,Alby sur Chéran,458,Valid,Eucrite-mmict,252.0,Fell,2002,45.82133,6.01533,"(45.82133, 6.01533)",fr
23,Aldsworth,461,Valid,LL5,700.0,Fell,1835,51.78333,-1.78333,"(51.78333, -1.78333)",gb
24,Aleppo,462,Valid,L6,3200.0,Fell,1873,36.23333,37.13333,"(36.23333, 37.13333)",sy

In [ ]:
# Read the entire CSV file
df_full = pd.read_csv(file_path)

# Apply the get_country_code function to the entire dataframe
df_full['country_code'] = df_full.apply(get_country_code, axis=1)


# Save the dataframe to a new CSV file
df_full.to_csv('../data/Meteorite_Landings_20240924_processed.csv', index=False)

de
dk
ca
mx
ar
pk
mn
fr
ar
ar
mr
ne
fr
jo
in
ng